.container {
  position: relative;
  padding: 0;
  overflow: hidden;
  background:  var(--app-background-color) !important;
  cursor: pointer;
  transition: all 0.3s;
}

.linkContainer {
  display: flex;
  align-items: center;
  height: 64px;
  text-align: center;  
}

.linkContainer img {
  display: inline-block;
  height: 100%;
}

.linkContainer h4 {
  display: inline-block;
  margin: 0 0 0 12px;
  animation: fade-in 0.3s;
}
