.container {
  background:  var(--app-background-color) !important;
}
.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.logoutButton {
  margin: auto auto 5rem auto;
  font-size: 1.5rem;
  background-color: var(--app-background-color);
}