* { 
  margin: 0; 
  padding: 0; 
}

.logo {
  float: left;
  width: 64px;
  /*height: 31px;*/
  margin: 16px 24px 16px 0;
  background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
  -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
  -moz-background-size: cover; /* optional for Firefox 3.6 */
  -o-background-size: cover; /* for Opera 9.5 */
  padding: 0; /* to remove the default white margin of body */
  overflow: hidden;  /*background: rgba(255, 255, 255, 0.2);*/
}
.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}